# Add required environment variables 
# for http-streamable servers -- pass directly to the server from client just like tavily mcp
OPENWEATHERMAP_API_KEY=abcd

# this is needed when you don't want auth over http streamable. but you must have auth in real projects
DANGEROUSLY_OMIT_AUTH=true