OPENAI_API_KEY="sk-...your-key-here..."
OPENAI_CHAT_MODEL="gpt-4o-mini"
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"
# Cohere reranking
COHERE_API_KEY="...your-cohere-key-here..."
COHERE_RERANK_MODEL="rerank-v3.5"

# PGVector Database Configuration
PG_CONNECTION_STRING=postgresql+psycopg://arun:postgres@localhost:5432/finance_multimodal_rag_db
# the above db will be later used in reranking rag project




